@model DYMobileFirst.Models.Book

@{
    ViewBag.Title = "删除";
}
<section id="content">
    <section class="main padder">
        <div class="clearfix">
            <h4>
                <i class="fa fa-edit">
                </i>
                删除
            </h4>
        </div>

        <h3>您确定要删除此记录吗?</h3>
        <div>
            <h4>Book</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Author.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Genre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.staute)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.staute)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pub)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pub)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="删除" class="btn btn-default" /> |
                    @*@Html.ActionLink("返回", "Index", new { pi = 1, ps = 15 }, new { @class = "btn btn-info btn-xs" })*@
                    <a class="btn btn-info btn-xs" onclick="Javascript:window.history.go(-1);">返回</a>
                </div>
            }
        </div>
    </section>
</section>